@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* make sure main fills width */
main { width: 100%; }
